$primary-color: #61704f;
$tertiary-color: #d9125b;
$secondary-color: #cad49d;
$hover-color: #092327;
@mixin background {
  background: rgb(221, 224, 189);
  background: linear-gradient(
    60deg,
    rgba(221, 224, 189, 1) 0%,
    rgba(97, 112, 79, 1) 100%
  );
}
