@import "../config";

.popup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2000;
  &__container {
    overflow-y: auto;
    width: 30%;
    height: 30vh;
    background-color: $hover-color;
    i {
      float: right;
      margin: 1rem;
      color: white;
    }
    @media only screen and (max-width: 520px) {
      width: 70%;
    }

    &-text {
      padding: 2rem;
      p {
        color: white;
        width: 90%;
        padding: 2rem 0;
      }
    }
  }
}
