@import "../../config";

footer {
  background-color: $hover-color;
  color: $secondary-color;
  text-align: center;
  font-size: 0.8rem;
  .logo {
    width: 10%;
  }

  .footer__container {
    &-social {
      ul {
        list-style: none;
      }
      li {
        display: inline-block;
        margin-left: 0.3rem;
      }
      a {
        color: white;
        :hover {
          color: $secondary-color;
        }
      }
    }
    &-text-link {
      color: $tertiary-color;
      display: block;
      padding: 1rem 0;
    }
    &-text-link:visited {
      color: $tertiary-color;
    }
  }
}
